.flexContainer {
    display:flex;
    height:100%;
}
.flexContainer .flexItem1 {
  flex:0 0 200px;
  background-color: #FFC000;
   }
.flexContainer .flexItem2 {
    flex:1;
    display:flex;
    flex-direction:column;
    }
.flexItem2 .flexItem2_1 {
    flex:0 0 100px;
    background-color: #4472c4;
    }
.flexItem2 .flexItem2_2 {
    flex:1;
    display:flex;
    flex-direction:row-reverse;
}
.flexItem2 .flexItem2_2 .flexItem2_2_1 {
    background-color: #f2f2f2;
    flex-shrink:1;
}
.flexItem2 .flexItem2_2 .flexItem2_2_2 {
    background-color: #ff2f2f;
    flex:0 0 200px;
    }
.flexItem2 .flexItem2_3 {
    background-color: #70ad47;
   flex:0 0 100px;
}